
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --D: #005F7E;
    --DD: #94744F;
    --DDD: #434250;
  }
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Nabla', cursive; */
  /* font-family: 'Karla', sans-serif; */

/* @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
} */

body{
    /* display: grid; */
    /* grid-template-rows: 10% 80% 10%; */
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}

    header{
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        background: linear-gradient(0deg, #8d61b600 0%, #8d61b632 94%); 
        font-family: 'Nabla', cursive;
        font-size: 1.5rem;
    }
    
    main{
        padding-top: 10vh;
        padding-bottom: 10vh;
        overflow: scroll;
        height: 100vh;
        scroll-snap-type: y mandatory;
        position: relative;
        z-index: 1;
        top: -10vh;

    }
        .moi{
            padding-top: 10vh;
            height: 100vh;
            width: 100vw;
            scroll-snap-align: center;
            transition: all 0.5s;
            overflow-x: scroll;
            display: flex;
            scroll-snap-type: x mandatory;
            flex-direction: row;
            justify-content: space-between;
        }
            .moi p{
                padding: 10px;
                border: solid 1px #ac1de5;
                border-radius: 15px;
                text-align: center;
                margin-right: 5vw;
                margin-left: 5vw;
                margin-top: 1vh;
                font-size: 1.3rem;
            }
                .infom{
                    display: flex;
                    flex-direction: column;
                    position: relative; 
                    z-index: 1;
                    width: 100vw;
                    /* border: solid white; */
                    scroll-snap-align: start;
                    align-items: flex-end;
                }
                    .infom #un{
                        width: 90vw;
                    }
                    .infom #deux{
                        width: 60vw;
                    }
                    .infom #trois{
                        width: 50vw;
                    }

        .main{
            height: 100vh;
            width: 100vw;
            scroll-snap-align: center;
            overflow: scroll;
            scroll-snap-type: x mandatory;
        }
            .fleches{
                position: absolute;
                /* je vais retravailler le positionnement */
                /* bottom: 50%; */
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 95vw;
            }
                .fleche{
                    height: 50px;
                    width: 50px;
                    border-left: dashed 3px #929292;
                    border-top: solid 3px #929292;
                    /* border-bottom-style: double; */
                    transition: all 0.5s;
                }
                    .fleche:active{
                        height: 55px;
                        width: 55px;
                        /* border-left: dashed 3px #929292; */
                        border-top: dashed 3px #929292;
                    }
            .planetes{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 300vw;
                height: 100vh;
                background-image: linear-gradient(0deg, #000000 0%, #0000007d 20%, #00000038 80%, #000000 100%), linear-gradient(90deg, #000000ad 0%, #0000007d 5%, #0000007d 95%, #000000ad 100%), url("img/stars.jpg");
                /* animation: slide 10s linear infinite; */
            }
                .planete{
                    /* display: none; */
                    color: white;
                    width: 56vw; 
                    height: 56vw; 
                    border-radius: 100%;
                    text-align: center;
                    transition: all 0.5s;
                    scroll-snap-align: center;
                    /* border: solid white; */

                }
                    .planete h1{
                        margin-top: 9vh;
                    }
                    .contenu {
                        display: none;
                        /* display: block; */
                        /* opacity: 0; */
                
                    }
                        .domaine{
                            display: flex;
                            flex-direction: row;
                            /* flex-wrap: wrap; */
                            /* justify-content: space-evenly; */
                            height: 40vh;
                            width: 100vw;
                            overflow-x: scroll;
                            /* border: solid white; */
                            /* gap: 15vw; */
                        }
                            .flexzone{
                                display: flex;
                            }
                                .creation{
                                    border: 2px solid #ac1de5;
                                    border-radius: 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    width: 80vw;
                                    margin: 5vw;
                                }
                                .projet{
                                    border: 2px solid #e5d11d;
                                    border-radius: 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    width: 80vw;
                                    margin: 5vw;
                                }
                    .D{
                        background: radial-gradient(70.68% 70.68% at 26.19% 40.30%, var(--D) 0%, rgb(0, 0, 0) 100%);
                        /* display: block; */
                    }
                    .DD{
                        background: radial-gradient(70.68% 70.68% at 26.19% 40.30%, var(--DD) 0%, rgba(0, 0, 0) 94%);
                        /* display: none; */
                    }
                    .DDD{
                        background: radial-gradient(70.68% 70.68% at 26.19% 40.30%, var(--DDD) 0%, rgba(0, 0, 0) 94%);
                        /* background: linear-gradient(1deg, #434250 0%, rgba(67, 66, 80, 0) 94%); */
                        /* display: none; */
                    }
                    .planete:active{
                        width: 60vw;
                        height: 60vw;
                    }
                
    footer{
        position: relative;
        top: -20vh;
        z-index: 2;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(180deg, #8d61b600 0%, #8d61b632 94%);
        font-family: 'Nabla', cursive;
    }



